{% extends 'index.html' %}
{% block content %}

Book list:
<br>
{% for book in books %}
<br>
<div><a href="{% url 'book_details' book_id=book.id %}">{{ book.title }}</a></div>
{% endfor %}

{% endblock content %}