{% extends 'index.html' %}
{% block content %}

<div><h1>{{ book_info.title }}</h1></div>
<div>Year published: {{ book_info.released_year }}</div>

<div>Author:
    <a href="{% url 'author_details' author_id=author_info.id %}">{{ author_info.first_name }} {{ author_info.last_name }}</a>
</div>

<div>Description: {{ book_info.description }}</div>
<br>
<div><a href="{% url 'book_list' %}">Back to books list</a>
</div>

{% endblock content %}